@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
@import url('/assets/fonts/clash-display.css');

@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('/portfolio/assets/fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('/portfolio/assets/fonts/ClashDisplay-Variable.woff') format('woff'),
         url('/portfolio/assets/fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('/portfolio/assets/fonts/ClashDisplay-Extralight.woff2') format('woff2'),
         url('/portfolio/assets/fonts/ClashDisplay-Extralight.woff') format('woff'),
         url('/portfolio/assets/fonts/ClashDisplay-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'ClashDisplay-Light';
    src: url('/portfolio/assets/fonts/ClashDisplay-Light.woff2') format('woff2'),
         url('/portfolio/assets/fonts/ClashDisplay-Light.woff') format('woff'),
         url('/portfolio/assets/fonts/ClashDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('/portfolio/assets/fonts/ClashDisplay-Regular.woff2') format('woff2'),
        url('/portfolio/assets/fonts/ClashDisplay-Regular.woff') format('woff'),
        url('/portfolio/assets/fonts/ClashDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('/portfolio/assets/fonts/ClashDisplay-Medium.woff2') format('woff2'),
            url('/portfolio/assets/fonts/ClashDisplay-Medium.woff') format('woff'),
            url('/portfolio/assets/fonts/ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('/portfolio/assets/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
            url('/portfolio/assets/fonts/ClashDisplay-Semibold.woff') format('woff'),
            url('/portfolio/assets/fonts/ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('assets/fonts/ClashDisplay-Bold.woff2') format('woff2'),
            url('/portfolio/assets/fonts/ClashDisplay-Bold.woff') format('woff'),
            url('/portfolio/assets/fonts/ClashDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

.sub-title p {
    font-family: 'ClashDisplay-Regular';
    font-weight: 400;
    font-size: 22px;
    padding-left: 80px;
    width: 745px;
}

footer a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}


/* NAVBAR STYLES */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 80px;
    background-color: white;
    border-bottom: 1px solid #000000;
    z-index: 999;
}

.sticky {
    position: sticky;
    top: 0;
}

.nav-button {
    border: 1px solid black;
    cursor: pointer;
    padding: 8px 19px;
    font-family: 'ClashDisplay-Medium';
    font-size: 14px;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-in-out;
    max-width: 110px;
}

.nav-button:hover {
    background-position: left bottom;
    color: white;
    transition: all .3s ease-out;
}

.logo {
    width: 45px;
}

.nav-links {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    color: black;
    font-family: 'ClashDisplay-Regular';
    font-weight: 400;
    font-size: 15px;
}

.nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-links a:not(.selected) {
    font-family: 'ClashDisplay-Regular';
}

.selected {
    font-family: 'ClashDisplay-Medium';
    font-weight: 500;
    text-decoration: underline;
}

/* Mobile display */
.burger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

/* MAIN STYLES */
.cards-section {
    display: flex; 
    margin: 80px;
}

.two {
    margin: 0 20px;
}

.project-card {
    height: 500px;
    width: 40%;
    border: 1px solid black;
    padding: 20px;
}

.project-card h3 {
    font-family: 'ClashDisplay-Regular';
}

.project-card p {
    font-family: 'Montserrat', sans-serif;
}

.project-card img {
    width: 100%;
}

.project-card button {
    cursor: pointer;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: transparent;
}

.project-card button svg {
    width: 34px;
    height: 34px;
    fill: none;
}

.projects-heading {
    font-family: 'ClashDisplay-Medium';
    font-weight: 500;
    font-size: 80px;
    margin: 80px 0 35px 80px;
}

.head-section {
    margin: 100px 0 0 80px;
}

.head-section h1 {
    font-family: 'ClashDisplay-Medium';
    font-weight: 500;
    font-size: 80px;
}

.filters {
    display: flex;
}

.filter a {
    padding: 15px;
    border: 2px solid black;
    margin-right: 35px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-in-out;
}

.filter a:hover {
    padding: 15px;
    background-position: left bottom;
    color: white;
    transition: all .3s ease-out;
}


/* BOTTOM */
.bottom-section {
    margin: 100px 75px 80px 80px;
}

.bottom-section h2 {
    font-family: 'ClashDisplay-Medium';
    font-size: 80px;
    font-weight: 500;
}

.bottom-section a {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}


#form {
    position: relative;
    display: block;
    width: 500px;
    margin: 50px 0 100px 10px;
}

label {
    font-family: 'Montserrat', sans-serif;
}

  
input {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
    
    background: white;
    outline: none;
    color: black;
    
    border: solid 1px black;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
  
textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px black;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
textarea:hover {
    background: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
  
#submit {
    border: 1px solid black;

    width: 502px;
    background-color: black;
    color: black;

    padding: 10px;
    margin: 15px 0px 0px 0px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875em;
    
    outline:none;
    cursor: pointer;
    
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-in-out;
}
  
#submit:hover {
    background-position: left bottom;
    color: white;
    transition: all .3s ease-out;
}

/* FOOTER */
footer {
    background: black;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer a {
    color: white;
    text-decoration: underline;
}


/* TABLET */
@media only screen and (max-width: 900px) {
    nav {
        padding: 0;
    }

    .sticky {
        position: sticky;
        top: 0;
        width: 100%;
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-links.active {
        left: -15px;
        max-width: 100%;
        padding: 20px;
    }

    .nav-item {
        padding: 20px 0;
    }

    .nav-button {
        display: none;
    }

    .burger {
        display: block;
        cursor: pointer;
        margin-right: 35px;
    }

    .burger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .burger.active .bar:nth-child(2) {
        transform: translateY(0px) rotate(-45deg);
    }

    .logo {
        margin-left: 35px;
    }

    .cards-section {
        flex-wrap: wrap;
    }

    .project-card {
        min-width: 200px;
        max-height: 400px;
        margin-top: 20px;
    }

    footer {
        width: 100%;
    }
}

/* MOBILE */ 
@media only screen and (max-width: 768px) {

    /* NAVBAR */
    nav {
        padding: 0;
    }

    .sticky {
        position: sticky;
        top: 0;
        width: 100%;
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-links.active {
        left: -15px;
        max-width: 100%;
        padding: 20px;
    }

    .nav-item {
        padding: 20px 0;
    }

    .nav-button {
        display: none;
    }

    .burger {
        display: block;
        cursor: pointer;
        margin-right: 35px;
    }

    .burger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .burger.active .bar:nth-child(2) {
        transform: translateY(0px) rotate(-45deg);
    }

    .logo {
        margin-left: 35px;
    }

    .head-section {
        margin-left: 30px;
    }

    h2.projects-heading {
        margin-left: 20px;
    }

    .project-card {
        margin: 20px;
        width: 80%;
    }

    .bottom-section {
        margin-left: 0;
    }

    .bottom-section h2 {
        font-size: 40px;
        margin: 20px;
    }

    form#form {
        width: 370px;
    }

    input {
        width: 320px;
    }

    textarea {
        width: 320px;
    }

    #submit {
        width: 353px;
    }

    .email {
        display: flex;
        flex-direction: column;
    }

    .input-container {
        width: 320px;
    }

    footer {
        width: 100%;
    }
}