@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');


div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

h1 {
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: 600;
}